/*
@media only screen and (max-width: 562px) {
    .header img {
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }
}
/**/
@media only screen and (max-width: 320px) {
.main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 250px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px;
      }
.container_carrusel {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "carrusel"
          "publi"; 
        justify-items: stretch; 
      }
.carrusel { grid-area: carrusel; }
.publi {
    display: none; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(5, 1fr); 
    gap: 30px 0px; 
    grid-template-areas:
        "uno"
        "dos";  
    grid-area: publi; 
      }
}




/*
@media only screen and (max-width: 1025px) {
    .header img {
        width: 200px;
        height: auto;
    }
    
    .escudos {
        display: none;
    }
    
    .main {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 250px 250px;
        grid-template-rows: 150px 150px 150px 150px 150px;
      }
    
    .container_carrusel {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "carrusel "
          "publi"; 
        justify-items: stretch; 
      }
      .carrusel { grid-area: carrusel; }
      .publi {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(2, 0.5fr); 
        gap: 10px 0px; 
        grid-template-areas:
          "uno dos"; 
        grid-area: publi; 
      }
       
        } 