@mixin logosRedesCarac {
    color: white;
    align-items: center;
}

.fa {
    padding: 20px;
    margin: 2;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    &-facebook {
        background: #3B5998;
    @include logosRedesCarac; }
    &-instagram {
        background: #125688;
    @include logosRedesCarac; }
    &-google {
        background: #dd4b39;
        @include logosRedesCarac; }
    &-facebook:hover {
        opacity: 0.7;}
    &-instagram:hover {
        opacity: 0.7;}
    &-google:hover {
        opacity: 0.7; }
    }